<h1 class="mb-1 restaurant-show-title">{{result.name}}</h1>
<h2 class="mb-1 restaurant-show-title">{{result.name_en}}</h2>
<div class="container">
  <div class=" d-flex justify-content-center">
    <a href="/backstage/restaurants/{{result._id}}/edit" class="btn btn-second mb-2 mx-1"><i class="fa-solid fa-pencil"></i></a>
    <button type="button" class="btn btn-second mb-2 mx-1" id="deleteOneBtn" data-id = {{result._id}}><i class="fa-solid fa-trash"></i></button>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-auto col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fa-solid fa-calendar-check"></i> 更新日期：{{result.uploadDate}}
        </li>
        <li class="list-group-item">
          <i class="fas fa-utensils pr-2"></i> 餐廳類別：{{result.category}}
        </li>
        <li class="list-group-item">
          <i class="fas fa-map-marker-alt pr-2"></i> 餐廳地址：{{result.location}}
          <a href="{{result.google_map}}" class="text-secondary" target="_blank">
            <i class="fas fa-location-arrow pr-2 fa-xs"></i>
          </a>
        </li>
        <li class="list-group-item">
          <i class="fas fa-mobile-alt pr-2"></i> 餐廳電話：{{result.phone}}               
        </li>
        <li class="list-group-item">
          餐廳描述：{{result.description}}
        </li>
      </ul>            
    </div>
    <div class="col-auto col-md-6">
      <img class="rounded mx-auto d-block mb-4 w-100" src="{{result.image}}" alt="{{result.name}}" style="max-width: 600px;">
    </div>
  </div>
</div